<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<link href="/static/admin.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
{% block main %}{% endblock %}
<p id="copyright">Copyright &copy; 2010 <a href="http://sa3.org" target="_blank" title="菜园子">菜园子</a>, All Right Reserved. <a href="http://sa3.org/program/sa3upload/">下载源码</a>  Hosted by Google App Engine.<a href="/admin/">管理登陆</a></p>
</div>
</body>
</html>
