<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Index of /</title>
<style type="text/css">
ul, ol {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

.name{
	width:300px;
	display:block;
	float:left;
}

.t{
	width:20px;
	display:block;
	float:left;
}
.date{
	width:200px;
	display:block;
	float:left;
}

.size{
	width:100px;
	display:block;
	float:left;
}

.clear{
	clear:both;
}

</style>
</head>
<body>
<h1> Index of /</h1>
<ul>
	<li>
    	<span class="t"><img src="main.png" alt="main" /></span>
        <span class="name">Name</span>
        <span class="date">Last modified</span>
        <span class="size">Size</span>
     </li>	
    <hr class="clear" />
    <li class="clear">
    	<span class="t"><img src="folder.png" alt="Folter"/></span>
    	<span class="name"><a href="project/">project/</a></span>
        <span class="date"> 23-May-2005 18:50</span>
        <span class="size">-</span>
    </li>
    <li class="clear">
    	<span class="t"><img src="folder.png" alt="Folter"/></span>
    	<span class="name"><a href="project/">project/</a></span>
        <span class="date"> 23-May-2005 18:50</span>
        <span class="size">-</span>
    </li>
    <li class="clear">
    	<span class="t"><img src="file.png" alt="file"/></span>
    	<span class="name"><a href="project/">project/</a></span>
        <span class="date"> 23-May-2005 18:50</span>
        <span class="size">30M</span>  
    </li>
</ul>
<hr class="clear" />
<p>as3upload Server at Goole App Engine <a href="http://sa3.org" title="菜园子">菜园子</a>|源码下载|<a href="/admin/">管理登陆</a></p> 
</body>
</html>
